.b-firstSctn{
  width: 100%;
  padding: 5% 3%;
  box-sizing: border-box;
  background: $lightestColor;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include media-breakpoint-down(sm) {
    justify-content: space-around;
  }
}